.navbar {
    background-color: var(--blue-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    ul{
      display:flex;
      align-items:center;
      list-style:none;
      padding-left:0;
      li{
        margin-right: 1rem;
        margin-bottom:0;
        a{
          font-weight: 700;
          color: var(--button-text-color);
        }
        a:hover{
          color: var(--link-hover-color);
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .navbar {
      padding: 1rem;
    }
  }